/*! CSS RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*! CUSTOM PROPERTIES */

:root{
    --main-bg: rgb(20,25,34);
    --footer-bg: rgb(40,40,40);
    --text-gray: rgb(125,127,132);
    --light-gray: rgb(180,180,180);
    --lines: rgb(173,255,47);
}

/*! UTILS */

.flex{
    display: flex;
}

.centered-text{
    text-align: center;
}

.mb-0-5{
    margin-bottom: 0.5rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.txt-lightgray{
    color: var(--light-gray);
}

img.rounded{
    object-fit: contain;
    border-radius: 50%;
    display: block;
}

img.rounded.sm{
    width: 1.875rem;
    height: 1.875rem;
}

.mobile-hidden{
    display: none;
}

.debug{
    border: 1px dashed white;
}

/*! GENERICS */

body{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container.flex{
    flex-direction: column;
}

figure{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

figure.rounded{
    border-radius: 50%;
    overflow: hidden;
}

figure img{
    display: block;
}

img{
    max-width: 100%;
}

img.greyed-out{
    filter: invert(0.5)
}

img.small-img{
    width: 0.938rem;
}

img.img-bg{
    background-color: gray;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--text-gray);
}

.row.flex{
    flex-wrap: wrap;
}

.flex > .col{
    flex: 0 0 50%;
    padding: 0.5rem;
}

/*! MAIN */

main{
    height: calc(100vh - 6rem);
}

/*! NAVBAR */

.navbar{
    font-size: 0.8rem;
    font-weight: bold;
    flex: 0 0 3.2rem;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 0;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.navbar ul.flex{
    flex-direction: column;
    gap: 0.3rem;
}

.navbar h3{
    font-size: 0.8rem;
    padding: 0 0.7rem;
}

.navbar span{
    line-height: 1.875rem;
}

.navbar img{
        max-width: 1.875rem;
}

.navbar a{
    padding: 0 0.5rem;
}

.navbar li{
    border-left: 0.2rem solid transparent;
}

.nav-top{
    flex-direction: column;
    min-height: 0;
    overflow-y: hidden;
}

.nav-top > a {
    line-height: 1.875rem;
}

.nav-top li{
    line-height: 1.875rem;
    margin-bottom: 0.5rem;
}

.nav-top li.selected{
    border-color: var(--lines);
}


.navbar .btn-square{
    text-align: center;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--text-gray);
    margin-left: 0.2rem;
}

.nav-bottom ul{
    align-items: center;
}

.nav-bottom address{
    color: white;
    font-style: normal;
}

/*! PLAYLIST SECTION */

#playlist-section{
    flex-grow: 1;
    height: 100%;
}

.wrapper{
    height: 100%;
    background-color: var(--main-bg);
    overflow-y: auto;
}

    /*# PLAYLIST SECTION HEADER */

    header{
        position: sticky;
        top: 0;
        height: 5rem;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1.5rem;
        text-align: end;
        z-index: 1;
    }

    header .call-to-action{
        display: inline-block;
        color: white;
        border: 1px solid white;
        padding: 0.5rem 2rem;
        border-radius: 1.5rem;
        font-size: 0.8rem;
    }

    /*# PLAYLIST CONTENT  */

    .content{
        padding: 1rem;
    }
    
    .content ul{
        justify-content: center;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-weight: bold;
    }

    .content li{
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }

    .underline{
        border-top: 2px solid var(--lines);
        margin: 0.5rem auto;
        margin-bottom: 0;
        width: 40%;
    }

    .card {
        text-align: center;
    }

    .content h4, .content h5{
        color: var(--text-gray);
    }

    .content h3{
        font-size: 0.8rem;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        display: none;
    }

/*! FOOTER */

footer{
    height: 6rem;
    background-color: var(--footer-bg);
    z-index: 1;
}

footer .btn-player{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

footer .btn-player.txt-lightgray{
    color: var(--light-gray);
}

footer i{
    font-size: 1rem;
}

.side-player{
    flex-basis: 30%;
    min-height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.side-player .song-info{
    height: 100%;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.6rem;
}

.song-info img{
    max-height: 70%;
    max-width: auto;
}

.side-player.left .icons{
    flex-direction: column;
    gap: 0.5rem;
}

.center-player{
    flex-grow: 1;
    min-height: 100%;
    padding: 0.1rem 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls i{
    padding: 0.3rem;
    vertical-align: middle;
}

.progress-bar{
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.progress-bar .time{
    padding: 0.5rem;
    flex-basis: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.bar{
    height: .3rem;
    background-color: var(--light-gray);
    border-radius: .15rem;
    flex-grow: 1;
}

.bar.bar-progress{
    background-color: white;
    width: 20%;

}

.side-player.right{
    justify-content: space-between;
}

.bar.volume-bar{
    flex: 0 0 50%;
}



/*! HOVER EFFECTS */

nav a:hover{
    color: white;
}

nav a:hover .btn-square{
    background-color: white;
}

nav a:hover img{
    filter: invert(0);
}

.nav-bottom li:last-of-type a{
    cursor: text;
}

header .call-to-action:hover{
    transform: scale(1.2);
}

.content figure:hover .overlay{
    display: flex;
}

.side-player.left li:last-child:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.side-player.left button i:hover{
    color: white;
}

.center-player .fa-circle-play:hover{
    transform: scale(1.2);
}

/*! MEDIA QUERIES */

    /*# Breakpoint 576px */

    @media screen and (min-width: 577px) {

        /*+ UTILS */

        .mobile-hidden{
            display: inline;
        }

        .mobile-hidden.d-block{
            display: block;
        }

        .desktop-hidden{
            display: none;
        }

        /*+ NAVBAR */
        .navbar{
            flex: 0 0 20rem;
            padding: 1rem 0;
        }

        .navbar a{
            display: flex;
            gap: 0.3rem;
            align-items: center;
        }

        .nav-top{
            min-height: 22rem;
        }

        .nav-top li:first-child img:last-of-type{
            max-width: 50%;
        }

        .nav-playlist{
            overflow-y: auto;
        }

        .nav-bottom{
            padding-top: 0.5rem;
        }

        .nav-bottom ul{
          align-items: stretch;
        }

        /*+ FOOTER */

        .controls i{
            padding: 0.5rem;
        }
        
               
    }

    /*# Breakpoint 768px */

    @media screen and (min-width: 769px) {

        /*+ GENERICS */

        .flex > .col{
            flex: 0 0 25%;
        }

        /*+ FOOTER */

        footer{
            justify-content: space-between;
        }
    
        .center-player{
            flex:0 1 40%;
        }

        .side-player.left .icons{
            flex-direction: row;
        }

    }

    /*# Breakpoint 992 */
    @media screen and (min-width: 993px){

        /*+ PLAYLIST SECTION  */

        .content h3{
            font-size: 1rem;
        }

    }

    /*# Breakpoint 1200px */

    @media screen and (min-width: 1201px){
        /*+ GENERICS */

        .flex > .col{
            flex: 0 0 calc(100%/6);
        }

        /*+ FOOTER */

        .side-player{
            flex:0 1 20rem;
        }

    }

    /*# Breakpoing 2248px */

    @media screen and (min-width: 2248px){
        img.rounded{
            max-width: 300px;
        }
    }