/*! CSS RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*! CUSTOM PROPERTIES */

:root{
    --main-bg: rgb(20,25,34);
    --footer-bg: rgb(40,40,40);
    --text-gray: rgb(125,127,132);
}

/*! UTILS */

.flex{
    display: flex;
}

.centered-text{
    text-align: center;
}

.mb-0-5{
    margin-bottom: 0.5rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.rounded{
    width: 1.875rem;
    height: 1.875rem;
    object-fit: contain;
    border-radius: 50%;
    display: inline-block;
}

.mobile-hidden{
    display: none;
}

.debug{
    border: 1px dashed white;
}

/*! GENERICS */

body{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 1.875rem;
}

img.greyed-out{
    filter: invert(0.5)
}

img.small-img{
    width: 0.938rem;
}

img.img-bg{
    background-color: gray;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--text-gray);
}

.row.flex{
    flex-wrap: wrap;
}

.flex > .col{
    flex: 0 0 50%;
    padding: 0.5rem;
}

.card {
    min-height: 8rem;
    background-color: white;
}

/*! MAIN */

main{
    height: calc(100vh - 5rem);
}

/*! NAVBAR */

.navbar{
    font-size: 0.8rem;
    font-weight: bold;
    flex: 0 0 3rem;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 0.5rem;
    flex-direction: column;
    justify-content: space-between;
}

.navbar h3{
    font-size: 0.8rem;
}

.navbar span{
    line-height: 30px;
}

.nav-top li{
    line-height: 30px;
    margin-bottom: 0.5rem;
}

.nav-bottom ul{
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.navbar .btn{
    text-align: center;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--text-gray);
}


/*! PLAYLIST SECTION */

#playlist-section{
    flex-grow: 1;
    height: 100%;
}

    /*# PLAYLIST SECTION HEADER */

    header{
        position: fixed;
        top: 0;
        left: 3rem;
        right: 0;
        z-index: 1;
        height: 5rem;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /*# CONTENT  */
    
    .content{
        padding: 6rem 1rem 1rem 1rem;
        height: 100%;
        background-color: var(--main-bg);
        overflow-y: auto;
    }

    .content ul{
        justify-content: center;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-weight: bold;
    }

    .content li{
        padding: 0.5rem 1rem;
    }

/*! FOOTER */

footer{
    height: 5rem;
    background-color: var(--footer-bg)
}


/*! MEDIA QUERIES */

    /*# Breakpoint 576px */

    @media screen and (min-width: 577px) {

        /*+ GENERICS */

        .mobile-hidden{
            display: inline;
        }

        .mobile-hidden.d-block{
            display: block;
        }

        .desktop-hidden{
            display: none;
        }

        /*+ NAVBAR */
        .navbar{
            flex: 0 0 20rem;
            padding: 1rem 1rem;
        }

        .navbar a{
            display: flex;
            gap: 0.3rem;
            align-items: center;
        }

        .nav-top ul:first-child li:first-child{
            margin-bottom: 1.5rem;
        }

        .nav-top li:first-child img:last-of-type{
            max-width: 50%;
        }

        .nav-bottom ul{
          align-items: stretch;
        }

        /*+ HEADER */

        header{
            left: 20rem;
        }
                
    }

    /*# Breakpoint 768px */

    @media screen and (min-width: 769px) {

        /*+ GENERICS */

        .flex > .col{
            flex: 0 0 25%;
        }

    }

    /*# Breakpoint 1200px */

    @media screen and (min-width: 1200px){
        /*+ GENERICS */

        .flex > .col{
            flex: 0 0 calc(100%/6);
        }
    }